html {
font-family:  Helvetica;
color: white;
font-size: 18px;
}

.header {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100%
}
.header-container {
  display: flex;
  align-items: center;
  width: 960px;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}
.header img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}
/**main motorcycle banner**/
.moto-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  width: 100%;
  background-size: cover;
}
.moto-main {
  width: 960px;
  display: flex;
}

.moto-container {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;

}

.motobox-head p{
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;

}

.moto-feature p {
  font-size: 2rem;
  font-weight: bold;
}

/**--Navigation--**/

.navbar {
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: center;
  width: 100%;

}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/**products**/

.products {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-boxes {
  display: flex;
  justify-content: space-between;
  width: 960px;
}
.product-boxes .box {
  border: solid black 4px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 3rem;
}
.product-boxes .box p {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.product-boxes img {
  align-self: center;
  max-height: 9rem;
  width: 60%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.glasses img {
  padding-top: 2rem;
}

/**location info**/
.contactinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  margin-bottom: 4rem;
}
.locations {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.location-box,
.hours {
  width: 35%;
}
.button {
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.blacktext {
  padding-top: 0.3rem;
  color: black;
}
/**footer*/

.footer  {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100%;
  background-color: black;
}
.copy {
  width: 960px;
}
