html {
font-family:  Helvetica;
color: white;
font-size: 18px;
}

.header {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding-left: 90px;
  height: 70px;
}
.header img {
  height: 50px;
  padding-right: 15px;
}

.moto-banner {
  display: flex;
  align-items: center;
  background-image: url("../images/moto.jpeg");
  height: 500px;
  width: 1400px;
  background-size: cover;
}

.moto-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 200px;
  width: 20rem;
  margin-left: 150px;
  padding-top: 2rem;
  padding-bottom: 25px;

}
.motobox-head p{
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
  padding-left: 3rem;
}

.moto-feature p {
  font-size: 2rem;
  font-weight: bold;
}

.navbar {

}

.navbar a {

}

/**products**/
.boxcontainer {

}

.innercontainer {

}

.productboxes {

}

.productdescriptions {

}

/**location info**/
.contactinfo {

}
.titlebox  {

}

.infobox {

}

/**footer*/

.footer  {

}
